

.html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color:#191970;
  font-family: 'Arial', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.search-form {
  display: flex;
  justify-content: left;
  margin: 50px;
}

.search-form-header {
  color: #BC8F8F;
  margin-top: 100px;
  text-align: center;
  font-size: 80px;
}

.search-input {
  font-size: 1.5em;
  max-width: 1100px;
  width: 60%;
  flex-grow: 6;
  padding: 0.7em;
  margin-right: 10px;
  border-radius: 50px;
  border: 1px solid #00FF6C;
  color: #B2F8D0;
  outline: none;
  background-color: #333;
}

.search-input:focus {
  border: 3px solid #00FF6C;
}

.search-button {
  font-size: 1.5em;
  border: 2px solid #00FF6C;
  color: #B2F8D0;
  background: none;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(178, 248, 208, .2);
}

.search-button:hover {
  background-color: rgb(178, 248, 208, .5);
  color: white;
}

.search-query {
  color: #B2F8D0;
  font-size: 1.8em;
  text-align: left;
  margin-left: 60px;
  font-weight: bold;
}

.query {
  color: #00FF6C;
  font-weight: normal;
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
